<form id="modal-form" class="fullbadge" action="/apply" method="POST">
  <input type="hidden" name="badgeId" value="{{ badge.id }}">
  <h3>Apply for {{ badge.name }} </h3>
  <img width="200" src="{{ badge.image }}">
  <h4>Check out the criteria for this badge before you begin:</h4>
  {{ badge.criteria }}
  <h4>Tell us more about your work:</h4>
  <textarea name="description"></textarea>
  <h4>Your E-mail:</h4>
  <input type="text" name="email">
  <input type="submit" class="badge_action bsub badgehash-d button medium" value="Submit" >
  <br>Link: <a target=_blank href="{{ permalink }}">{{ permalink }}</a>
</form>