{% extends "layout.html" %}
{% block title %}Connected Educators Month Badges{% endblock %}
{% block body %}
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
            <div class="large-7 small-6 columns">
              <h2 class="title">Connected Educators Badges</h2>
            </div>
            <div class="large-5 small-6 columns">
              <div id="claim-error" class="row collapse" style="font-size:small;text-align:right; margin-top: 0.5em; color:red">
                &nbsp
              </div>
<!--              <div class="row collapse">
                  <a class="small button claimtoggle" style="margin-bottom: 0px; margin-top: 0.5em; float: right;">Have a claim code?</a>
                  <div class="claimtoggle" style="display: none; margin-top: 0.3em;width:225px;float: right">
                    <div class="small-9 columns">
                      <input id="input-code" placeholder="Enter a claim code..." type="text">
                    </div>
                    <div class="small-3 columns">
                      <span class="postfix"><a class="claimbutton" href="#">Claim</a></span>
                    </div>
                </div>
              </div>
-->              
            </div>
        </div>

      <p>Connected Educators Month is dedicated to supporting educators learning and collaborating through online communities
        and social networks.  As you connect with communities and networks, personalize your learning experiences and earn
        Connected Educator Badges as you go!  Click on the badges below to find activities and projects that interest you
        and start earning badges today. There are special badges from the
        <a href="http://connectededucators.org/cem/cem-getting-started/">Connected Educator Month Starter Kit</a>, as well
        as badges you can award to your peer educators! To learn more
        about Connected Educator Month's support for digital badges,
        see our <a href="http://bit.ly/badges_faq">FAQ</a>.</p>
      <h3 class="categoryheader">{{ peer.program.name }}</h3>
      <h4 class="subheader">Nominate another connected educator for a badge to recognize his or her contributions to the profession</h4>
      <ul class="small-block-grid-2 large-block-grid-4 badge-thumbs square grid">
        {% for shortname, badge in peer.program.earnableBadges %}
        <li>
          <a class="badgethumb bgiv" data-shortname="{{ badge.shortname }}" href="#" style="background-image:url('{{ badge.image }}')">
          <span style="top: 150px;" class="detail">
              <span class="title">{{ badge.name }}</span>
              <span class="content">{{ badge.shortDescription }}</span>
            </span>
          </a>
        </li>
        {% endfor %}
      </ul>

      <h3 class="categoryheader">{{ starter.program.name }}</h3>
      <h4 class="subheader">Apply for badges defined in the <a href="http://connectededucators.org/cem/cem-getting-started/">Connected Educator Month Starter Kit</a></h4>
      <ul class="small-block-grid-2 large-block-grid-4 badge-thumbs square grid">
        {% for shortname, badge in starter.program.earnableBadges %}
        <li>
          <a class="badgethumb bapp" data-shortname="{{ badge.shortname }}" href="#" style="background-image:url('{{ badge.image }}')">
          <span style="top: 150px;" class="detail">
            <span class="title">{{ badge.name }}</span>
            <span class="content">{{ badge.shortDescription }}</span>
          </span>
          </a>
        </li>
        {% endfor %}
      </ul>

      <h3 class="categoryheader">{{ cta.program.name }}</h3>
      <h4 class="subheader">Earn badges that demonstrate your commitment to being a connected educator</h4>
      <ul class="small-block-grid-2 large-block-grid-4 badge-thumbs square grid">
        {% for shortname, badge in cta.program.earnableBadges %}
        <li>
          <a class="badgethumb bapp" data-shortname="{{ badge.shortname }}" href="#" style="background-image:url('{{ badge.image }}')">
          <span style="top: 150px;" class="detail">
            <span class="title">{{ badge.name }}</span>
            <span class="content">{{ badge.shortDescription }}</span>
          </span>
            </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- hastily added to prototype, should be generated in js -->
  <div id="claim-modal" class="reveal-modal" style="width:700px;margin-left:-350px" data-reveal-ajax="true">
  </div>
{% endblock %}
