<div class="fullbadge">
  <h3>You've received the {{ badge.name }} badge!</h3><img width="200px" src="{{ badge.image }}">
  <p>Congratulations!  You have earned a badge for Connected Educators Month!  Enter your e-mail address below to receive your badge.</p>
  <div class="large-6 columns" style="padding:0 0 0 0;">
    <div class="row collapse">
      <div class="small-9 columns">
        <input value="" id="input-email" placeholder="Enter your e-mail address..." type="text">
      </div>
      <div class="small-3 columns">
        <span class="postfix"><a href="#">Claim</a></span>
      </div>
    </div>
  </div>
</div>