<div class="fullbadge">
  <h3>Give {{ badge.name }} to a Peer</h3>
  <img width="200" src="{{ badge.image }}">
  <h4>Check out the criteria for this badge before you begin:</h4>
  {{ badge.criteria }}
  <h4>Your E-mail:</h4>
  <input type="text">
  <h4>Their E-mail:</h4>
  <input type="text">
  <h4>Why do they deserve this badge?:</h4>
  <textarea></textarea>
  <a class="badge_action bsub badgehash-d button medium" href="#">Submit</a>
  <br>Link: <a target=_blank href="{{ permalink }}">{{ permalink }}</a>
</div>