<div class="fullbadge">
  <h3>You've claimed the {{ badge.name }} badge!</h3><img width="200px" src="{{ badge.image }}">
  <p>Now you can send it to your Open Badges Backpack where you can collect and manage all the badges you have earned across different sites and organizations in one place. This gives you the chance to organize and display your interests and skills!</p>
  <p>Congratulations! You have taken another step toward becoming a Connected Educator!</p>
  <div class="large-6 columns" style="padding:0 0 0 0;">
    <div class="row collapse">
      <div class="small-6 columns">
        <a class="babp small button success radius" data-assertion-url="{{ badge.assertionUrl }}"> Accept to Backpack</a>
      </div>
      <div class="small-6 columns">
        <a class="small button secondary radius closebutton">Do nothing about it</a>
      </div>
    </div>
  </div>
</div>