<div class="fullbadge">
  <h3>You've claimed the {{ badge.name }} badge!</h3><img width="200px" src="{{ badge.image }}">
  <p>Now what would you like to do with it?<br></br>Some description about the BackPack and stuff.
  </p>
  <div class="large-6 columns" style="padding:0 0 0 0;">
    <div class="row collapse">
      <div class="small-6 columns">
        <a class="babp small button success radius" data-assertion-url="{{ badge.assertionUrl }}"> Accept to Backpack</a>
      </div>
      <div class="small-6 columns">
        <a class="small button secondary radius closebutton">Do nothing about it</a>
      </div>
    </div>
  </div>
</div>